<div class="main">
  <app-schema
    [title]="damageOptions.title"
    [id]="id"
    [schemeData]="data"
    [isLoading]="showLoader"
    [isError]="isError!"
    [labelData]="damageOptions.labelData"
    [accentByKey]="damageOptions.accentByKey"
    [accentFill]="damageOptions.accentFill"
    [showColorTrue]="damageOptions.showColorTrue"
    [showColorFalse]="damageOptions.showColorFalse"
    [showColorNull]="damageOptions.showColorNull"
    [descriptionShowColorTrue]="damageOptions.descriptionShowColorTrue"
    [descriptionShowColorFalse]="damageOptions.descriptionShowColorFalse"
    [descriptionShowColorNull]="damageOptions.descriptionShowColorNull"
  ></app-schema>

  <h1>Json completo:</h1>
  <p>
    {{ data | json }}
  </p>
</div>
